# Dependencias
node_modules/

# Build
dist/

# Logs
logs/
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Variables de entorno locales
.env.local
.env.*.local
